.hero-wrapper {
  padding: 100px 0px 80px;
  background: white;
}

.hero {
  height: calc(100vh - 180px);

  background-image: url('/images/FYNOS_DESKTOP_HERO.png');
  background-size: cover;
  background-position: center;

  overflow: hidden;
}