<section class="hero-wrapper">
  <section class="hero"></section>
</section>

<section class="muay-thai-short-section">
  <div class="muay-thai-short-image"></div>

  <div class="featured-short-content">
    <div class="chain-decoration-top"></div>
    <h2>Thai Shorts</h2>
    <p>
      Classic style for everday training. Lightweight combat inspired shorts made for movement, comfort and a clean streetwear look
    </p>

    <a routerLink="/product">
      SHOP
    </a>
    <div class="chain-decoration-bottom"></div>
  </div>
</section>

<section class="mma-short-section">
  
  <div class="featured-short-content">
    <div class="chain-decoration-top"></div>
    <h2>MMA Shorts</h2>
    <p>
      Classic style for everday training. Lightweight combat inspired shorts made for movement, comfort and a clean streetwear look
    </p>

    <a routerLink="/product">
      SHOP
    </a>
    <div class="chain-decoration-bottom"></div>
  </div>

  <div class="mma-short-image"></div>
</section>

<section class="hero-wrapper-two">
  <section class="hero-two">
    <div class="hero-two-overlay-text">
      <h2>No Running.</h2>
      <h2>No Muay Thai.</h2>
    </div>
  </section>
</section>